@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Silkscreen:wght@400;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--poppins_font);
}

:root
{
    --poppins_font: 'Poppins', sans-serif;
    --silkscreen_font: 'Silkscreen', cursive;
    --oswald_font: 'Oswald', sans-serif;
}

body
{
    min-height: 100vh;
    background: #444;
    color: #ccc;
    /* overflow: hidden; */
    z-index: -10;
}

header
{
    height: 100px;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: end;
    align-items: center;
    z-index: 10;
    position: fixed;
    top: 0;
}

header nav
{
    width: 75%;
    background: #222;
    display: flex;
    justify-content: end;
    height: 100px;
    border-bottom-left-radius: 100px;
    align-items: center;
    z-index: 1;
    position: relative;
    
}

header nav ul.sections
{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 85%;
    height: 100%;
    border-bottom-left-radius: 100px;
    position: relative;
    right: 20px;
}

header nav ul.sections li
{
    list-style: none;
    padding: 5px;
    margin: 0 60px;
    z-index: 5;
}

header nav ul.sections li a
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.3em;
    text-decoration: none;
    color: white;
    text-align: center;
}

header nav ul.sections li a .textbox
{
    display: hidden;
    opacity: 0;
    position: absolute;
    top: 30px;
    transition: 1s;
    text-shadow: 2px 2px 20px rgba(255, 255, 255, 0.658);
    font-family: var(--silkscreen_font);
}

header nav ul.sections li a .iconbox
{
    position: relative;
    bottom: 10px;
    transition: 1s;
}

header nav ul.sections li:hover a .textbox
{
    display: block;
    opacity: 1;
    top: 50px;
}

header nav ul.sections li:hover a .iconbox
{
    text-shadow: 1px 1px 25px rgba(0, 255, 255, 0.911);
}

header nav ul.sections li:hover:nth-child(2) a .iconbox
{
    text-shadow: 1px 1px 25px rgb(239, 255, 21);
}

header nav ul.sections li:hover:nth-child(3) a .iconbox
{
    text-shadow: 1px 1px 25px rgb(255, 255, 255);
}

 

nav .clearboard
{
    width: 65%;
    background: #444;
    position: absolute;
    height: 40px;
    top: 0;
    border-bottom-left-radius: 100px;
}

h1.title
{
    text-align: center;
    font-size: 1.7em;    
}
main
{
    position: relative;
    top: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h1
{
    position: relative;
    margin-top: 20px;
    font-family: var(--oswald_font);
    text-shadow: 0 0 20px rgba(89, 255, 219, 0.5);
}

main .projetos
{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .projetos .projeto
{
    width: 80%;
    display: flex;
    flex-direction: column;
}

main .projetos .projeto h3
{
    color: cornflowerblue;
    margin: 15px 0;
    text-decoration: underline;
    border-left: 2px solid;
    padding: 10px;
    border-radius: 20px;
}

main .projetos#simples .projeto iframe
{
    min-height: 700px;
}

main .projetos#simples .projeto.n2 iframe
{
    min-height: 80vh;
}

main .projetos#simples .projeto.n4 iframe
{
    min-height: 60vh;
}

main .projetos .projeto a
{
    text-align: center;
    font-size: 1.25em;
    text-decoration: underline;
    color: rgb(29, 255, 225);
    font-weight: 700;
    font-family: var(--silkscreen_font);
    padding: 10px;
    transition: 0.5s;
} 

main .projetos .projeto a:hover
{
    font-size: 1.3em;
}

main .projetos .projeto a:active
{
    color: darkgoldenrod;
}

main .projetos#complexo .projeto iframe
{
    min-height: 110vh;
}

main .projetos#complexo .projeto.n2 iframe
{
    min-height: 100vh;
}

main .projetos#complexo .projeto.n3 iframe
{
    min-height: 60vh;
}

main .projetos#complexo .projeto.n4 iframe
{
    min-height: 90vh;
}
