:root
{
    --clr: rgb(207, 0, 0);
}

.rain-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: #222;
    width: 90vw;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 100%;
}

.container .cloud
{
    width: 300px;
    height: 100px;
    z-index: 100;
    filter: drop-shadow(0 0 35px var(--clr));
}

.container .cloud h2
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    color: #000;
    font-size: 2em;
    z-index: 1000;
    padding: 0 10px;
    background: var(--clr);
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 10px;
}

.container .cloud h2::before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    background: var(--clr);
    top: -115px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
}

.container .cloud h2::after
{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: var(--clr);
    top: -150px;
    left: 50px; 
    box-shadow: 120px -30px 0 40px var(--clr);   
}

.container .cloud .drop
{
    position: absolute;
    top: 60px;
    height: 20px;
    line-height: 20px;
    color: var(--clr);
    transform-origin: bottom;
    animation: rain 2s linear infinite;
    -webkit-box-reflect: below 5px linear-gradient(transparent, rgba(0, 0, 0, 0));
    transition: 0.5s;
}

@keyframes rain
{
    0%
    {
        transform: translateY(0px) scale(0);
        transform-origin: top;
    }
    10%
    {
        transform: translateY(0px) scale(0.25);
        transform-origin: top;
    }
    20%
    {
        transform: translateY(0px) scale(1);
        transform-origin: top;
    }
    70%
    {
        transform: translateY(300px) scale(1);
        transform-origin: bottom;
    }
    80%
    {
        transform: translateY(300px) scale(1);
        transform-origin: bottom;
    }
    100%
    {
        transform: translateY(300px) scale(0);
        transform-origin: bottom;
        text-shadow: -180px 0 0 var(--clr), 180px 0 0 var(--clr);
        -webkit-box-reflect: below 5px linear-gradient(transparent, rgba(0, 0, 0, 0.733));

    }
}