@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'Oswald', sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
}

.box
{
    position: relative;
    height: 600px;
    transform-style: preserve-3d;
    animation: animate 16s linear infinite;
    top: 200px;

}

@keyframes animate
{
    0%
    {
        transform: rotateX(-20deg) rotateY(360deg);
    }
    100%
    {
        transform: rotateX(-20deg) rotateY(0deg);
    }
}

.box div
{
    position: absolute;
    inset: 0;
    transform-style: preserve-3d;
}

.box div.block span
{
    position: absolute;
    width: 600px;
    height: 300px;
    background: #444;
    left: calc(50% - 300px);
    transform: rotateY(calc(90deg * var(--i))) translateZ(300px);
    transition: 0.5s;
}

.box:hover div.block span
{
    background: rgb(101, 25, 172);
    /* box-shadow: 0 0 20px rgb(101, 25, 172),
                0 0 40px rgba(101, 25, 172, 0.75),
                0 0 60px rgb(101, 25, 172, 0.5),
                0 0 100px rgb(101, 25, 172, 0.25); */
    filter: drop-shadow(0 0 50px rgb(101, 25, 172));
}


.box div.text a
{
    position: absolute;
    width: 500px;
    height: 300px;
    display: flex;
    left: -300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* left: calc(50% - 100px); */
    transform: rotateY(calc(90deg * var(--i))) translateZ(450px);
    transition: 0.5s;
    color: white;
    text-decoration: none;
    font-size: 3em;
    text-transform: uppercase;
    z-index: 10;
    line-height: 1em;
    -webkit-text-stroke: 3px black;
    transform-style: preserve-3d;
    text-shadow: 0 0 20px white;
}


.box div.text a::before
{
    content: attr(data-text);
    position: absolute;
    bottom: 7px;
    transform-origin: bottom;
    transform: rotateX(-90deg);
    color: rgba(0, 0, 0, 0.1);
    -webkit-text-stroke: 0px black;
    filter: blur(5px);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0);

}

.box div.text a::after
{
    content: '';
    position: absolute;
    width: 1080px;
    height: 180px;
    top: 300px;
    transform: rotateX(-90deg);
    background: #444;
    transition: 0.5s;
}

.box:hover div.text a::after
{
    background: rgb(101, 25, 172);
    filter: drop-shadow(0 0 50px rgb(101, 25, 172));
}