@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');
:root{
    --cinza: #333;
    --azulclaro: #00bcd4;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.toggle{
    position: fixed;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: black;
    background-image: url(images/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    cursor: pointer;
    z-index: 1000;
}
.toggle.active{
    background-image: url(images/close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    cursor: pointer;
}
section{
    padding: 100px;
    min-height: 100vh;
}
section.banner{
    position: relative;
    width: 100%;

}
.banner .imgSideBar{
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;

}
.banner .imgSideBar img{
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .contentBx, .sidebar
    {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 500px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.logoText{
    position: absolute;
    top: 40px;
    left: 100px;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: var(--cinza);
    color: white;
    padding: 5px;
}

.banner .contentBx h4{
    font-size: 1.5em;
    color: var(--cinza);
    font-weight: 300;
}
.banner .contentBx h4 span{
    color: var(--azulclaro);
    font-size: 1.5em;
    font-weight: 700;
}
.banner .contentBx h2{
    font-size: 3em;
    color: var(--cinza);
    line-height: 1em;
}
p{
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 300;
}
a.btn{
    background: var(--azulclaro);
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 2px;
}
.sidebar{
    position: fixed;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    padding: 40px;
    z-index: 100;
    right: -100%;
}
.sidebar.active{
    right: 0;
}
.sidebar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sidebar ul li
{
    list-style: none;

}
.sidebar ul li a
{
    color: white;
    text-decoration: none;
    font-size: 2em;
    margin: 10px 0;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.sidebar ul li a:hover
{
    color: var(--azulclaro);
}
.sci
{
    position: absolute;
    left: 100px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sci li{
    list-style: none;
    margin-right: 10px;
}
.sci li img{
    transform: scale(0.5);
    opacity: 0.7;
}
.sci li img:hover
{
    opacity: 1; 
    transform: scale(1);
    transition: 0.5s;
}
.title
{
    width: 100%;
    text-align: center;
}
.title h2
{
    position: relative;
    color: var(--azulclaro);
    font-size: 1.8em;
    font-weight: 700; 
    letter-spacing: 1px;
}
.title p
{
    max-width: 700px;
    display: inline-block;
}
.title h2::before
{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 60px;
    height: 4px;
    background-color: black;
}
.title.white h2,
.title.white p
{
    color: white;
}

.title.white h2::before
{
    background: white;
}
.about
{
    background: black;
}
.about .content
{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.about .content .textBx
{
    min-width: 49%;
    width: 49%;
}
.about .content .textBx p
{
    color: white;
}
.about .content .imgbx
{
    margin-left: 40px;
}
.about .content .imgbx img
{
    max-width: 100%;
}
.services .content 
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.services .content .servicesBx
{
    padding: 40px 20px;
    max-width: 350px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
    background-color: #f5f5f5;
}

.services .content .servicesBx:hover
{
    background-color: black;
}

.services .content .servicesBx img 
{
    max-width: 80px;
    transition: 0.5s;
}
.services .content .servicesBx:hover img 
{
    filter: invert(1);
}
.services .content .servicesBx h2
{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.5s;    
}
.services .content .servicesBx:hover h2
{
    color: white;
}
.services .content .servicesBx p
{
    margin: 0;
    transition: 0.5s;
}
.services .content .servicesBx:hover p
{
    color: white;
}

.work .content
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.work .content .workBx
{
    position: relative;
    width: 265px;
    height: 265px;
    margin: 10px;
    transition: 0.5s;
    text-align: center;
}
.work .content .workBx .imgBx,
.work .content .workBx .textBx

{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.work .content .workBx .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.work .content .workBx .textBx
{
    background: black;
    opacity: 0;
    transition: 0.5s;
}
.work .content .workBx:hover .textBx
{
    opacity: 1;

}
.work .content .workBx .textBx h3
{
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
}

