body
{
    background: var(--bg);
}

.container
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.container .bubbles
{
    position: relative;
    display: flex;
}

.bubbles span
{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
                0 0 50px #4fc3dc,
                0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even)
{
    /* box-shadow: 0 0 0 10px #4fc3dc44,
                0 0 50px #4fc3dc,
                0 0 100px #4fc3dc;
    background: #4fc3dc; */
    filter: hue-rotate(90deg);
}

@keyframes animate
{
    0%
    {
        transform: translateY(100vh) scale(0);
        opacity: 1;
        border-radius: 50%;
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
        border-radius: 50%;
    }
}