@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css);

:root
{
    --pop: 'Poppins', sans-serif;
    --8-bit: 'Silkscreen', sans-serif;
    --bg: #2a2a2a;
    --bgcolorido: linear-gradient(45deg, rgb(0, 255, 255),steelblue , rgb(137, 43, 226));
    --vermelhob: rgba(220, 20, 60);
    --azulb: rgb(0, 255, 255);
    --roxob: rgb(137, 43, 226);
    --bgcolorido2: linear-gradient(45deg, var(--vermelhob), orangered, darkred);
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body
{
    background:var(--bg);
    min-height: 100vh;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--pop);
    overflow-x: hidden;
    flex-direction: column;
    
}
footer
{
    position: fixed;
    bottom: 12%;
    left: 10%;
    width: 200px;
    height: 75px;
    background: repeating-conic-gradient(from var(--a), rgb(0, 255, 255) 0%, rgb(137, 43, 226) 30%, rgb(137, 43, 226) 5%, rgba(220, 20, 60) 40%, rgb(0, 255, 255) 50%);
    /* (45deg,rgb(0, 255, 255), rgb(137, 43, 226), rgba(220, 20, 60)); */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotate 4s linear infinite;
}

@keyframes rotate
{
    0%
    {
        --a:0deg;
    }
    100%
    {
        --a:360deg;
    }
}

@property --a
{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

footer p
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 190px;
    padding: 0 10px;
    background: white;
    border-radius: 10px;
    border: none;
    font-size: 1.25em;
    font-family: var(--8-bit);
    text-align: center;
    text-decoration: none;
}

footer p a
{
    text-decoration: none;
    transition: 0.5s;
}

footer p a:visited
{
    color: var(--roxob);
}

footer p a:hover
{
    color: var(--vermelhob);
}

.box
{
    position: relative;
    background: #222;
    width: 400px;
    height: 500px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.box::before
{
    content: '';
    position: absolute;
    width: 400px;
    height: 500px;
    background: repeating-conic-gradient(from var(--a),rgb(137, 43, 226) 0%, transparent 25%,rgb(0, 255, 255) 50%, transparent 75%, var(--roxob) 100%);
    transition: 0.5s;
    animation: rotate 4s linear infinite;
    border-radius: 30px;
    overflow: hidden;
}

.box form
{
    width: 98%;
    height: 98%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    background: var(--bg);
    z-index: 3;
    overflow: hidden;
    padding: 50px 40px;
}

.box form h2
{
    color: var(--azulb);
    letter-spacing: 2px;
    font-size: 2em;
    animation: shiny 10s linear infinite;
}

@keyframes shiny
{
    0%
    {
        text-shadow: 0 0 0px var(--azulb);
    }
    40%
    {
        text-shadow: 0 0 0px var(--azulb);
    }
    50%
    {
        text-shadow: 0 0 10px var(--azulb),
        0 0 20px var(--azulb);
    }
    70%
    {
        text-shadow: 0 0 0px var(--azulb);
    }
    100%
    {
        text-shadow: 0 0 0px var(--azulb);
    }
}

.box form .inputBox
{
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.box form .inputBox input
{
    position: relative;
    width: 100%;
    padding: 15px;
    font-size: 1.25em;
    color: white;
    letter-spacing: 1px;
    border: none;
    outline: none;
    background: transparent;
    letter-spacing: 0.05em;
    transition: 0.5s;
    display: inline;
}

.box form .inputBox label
{
    position: absolute;
    left: 0;
    padding: 10px 0;
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
    color: #888;
}

.box form .inputBox input:focus ~ label,
.box form .inputBox input:valid ~ label

{
    transform: translateY(-30px) translateX(10px);
    left: 0;
    font-size: 0.8em;
    background: var(--bgcolorido);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    filter: brightness(1.5);
}

.box form .inputBox i
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--bgcolorido);
    transition: 0.5s;
    pointer-events: none;
    z-index: -1;
    border-radius: 5px;
}

.box form .inputBox input:focus ~ i,
.box form .inputBox input:valid ~ i
{
    height: 50px;
    
}

.box form .links
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.box form .links a
{
    color: #888;
    font-size: 0.8em;
    transition: 0.5s;
    text-decoration: none;
    font-weight: 700;
}

.box form .links a:hover
{
    background: var(--bgcolorido);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--azulb);
    filter: brightness(1.5);
}

.box form .submit
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box form .submit input[type="submit"]
{
    background: transparent;
    outline: none;
    color: #888;
    padding: 15px 50px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    font-weight: 700;
    letter-spacing: 0.05em;
    transition: 0.5s;
    border: none;
    position: relative;
}

.box form .submit input[type="submit"]:hover
{
    border:none;
    -webkit-text-fill-color: #222;
    color: #333;
    filter: brightness(1.5);
}

.box form .submit i
{
    background: var(--bgcolorido);
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transition: 0.5s;
    z-index: -1;
    border-radius: 10px;
}

.box form .submit input[type="submit"]:hover ~ i
{
    height: 50px;
}