.inputBox
{
    position: relative;
    width: 550px;
}

.inputBox input
{
    position: relative;
    width: 100%;
    padding: 10px 0;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 5px solid #666;
    font-size: 1.5em;
    transition: 0.5s;
    color: black;
}
.inputBox label
{
    position: absolute;
    left: 0;
    padding: 10px 0;
    font-size: 1.5em;
    color: #444;
    user-select: none;
}

.inputBox label span
{
    position: relative;
    display: inline-flex;
    flex-direction: row;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    transition: 0.25s;
}


.inputBox > input:focus ~  span,
.inputBox > input:valid ~  span
{
    transform: translateY(-100%);
    color: #0f0 !important;
    font-size: 1em;
    letter-spacing: 0.1em;
    transition: 0.25s;
}
