.inputBox
{
    position: relative;
    width: 550px;
}

.inputBox input
{
    position: relative;
    width: 100%;
    padding: 10px 0;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 5px solid #000;
    font-size: 1.5em;
    transition: 0.5s;
}
.inputBox label
{
    position: absolute;
    left: 0;
    padding: 10px 0;
    font-size: 1.5em;
    pointer-events: none;
    color: #444;
    user-select: none;
}

.inputBox label span
{
    position: relative;
    display: inline-flex;
    flex-direction: row;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    transition: 0.25s;
    transform: translateY(0%);
}


.inputBox input:focus ~  label span.letral,
.inputBox input:valid ~  label span.letral
{
    transform: translateY(-100%);
    color: #0f0;
    font-size: 1em;
    letter-spacing: 0.1em;
    transition: 0.25s;
}
