body
{
    --corpadrao: var(--roxob);
}
.float-side-bar
{
    position: fixed;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 100px;
    height: 95vh;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999;
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.float-side-bar #button-retreat
{
    position: absolute;
    top: 35px;
    right: -10px;
    background: var(--corpadrao);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.5s;
    cursor: pointer;
    z-index: 9999;
    
}

.float-side-bar .user
{
    position: absolute;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    top: 20px;
}

.float-side-bar .user .userImage
{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    transition: 0.5s;
    margin:10px;
    left: 15px;
}

.float-side-bar .user .userImage .placeholder
{
    position: relative;
    background: var(--corpadrao);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: var(--8-bit);
    transition: 0.5s;
    
}


.float-side-bar .user .userName
{
    position: absolute;
    color: #444;
    font-size: 14px;
    transition: 0.5s;
    margin: 10px;
    opacity: 0;
    transform: translateX(130%);
    width: 130px;
}

.float-side-bar ul
{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
    list-style: none;

}

.float-side-bar ul.about-user
{
    margin-bottom: 130px;
}

.float-side-bar ul.settings
{
    bottom: 20px;
}

.float-side-bar ul li
{
    width: 90%;
    height: 40px;
    margin: 20px;
    cursor: pointer;
    
}

.float-side-bar ul li a,
.float-side-bar ul li div

{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: #444;
    font-size: 20px;
    transition: 0.5s;
    border-radius: 10px;
    padding: 20px 30px;
}

.float-side-bar ul li a:hover,
.float-side-bar ul li div:hover
{
    background: var(--corpadrao) !important;
    color: #ddd;
}

.float-side-bar ul li .iconBox,
.float-side-bar ul li div .iconBox
{
    margin-right: 20px;
    font-size: 25px;
    position: absolute;
    transform: translateX(-5px);
    text-align: center;
    width: 40px;
}

.float-side-bar ul li .textBox,
.float-side-bar ul li div .textBox
{
    opacity: 0;
    position: absolute;
    transform: translateX(50px);
}

.float-side-bar ul li div
{
    background: rgb(255, 255, 255, 0.6);
}

#pesquisa
{
    width: 100%;
    height: 100%;
}

#pesquisa input
{
    width: 150px;
    height: 38px;
    border: none;
    outline: none;
    background: transparent;
    color: #444;
    font-size: 20px;
    padding: 0 10px;
    border-radius: 10px;
    transition: 0.5s;
}

#pesquisa input:hover
{
    color: #ddd;
}
