@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');


*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

body
{
    overflow: hidden;
    min-height: 100vh;
}

section
{
    position: relative;
    width: 100%;
    height: 100vh;
    cursor: url(imgs/aim.png), pointer;
    background: url(imgs/bg.jpg);
    background-size: cover;
    background-position: center;
}

span
{
    position: absolute;
    width: 40px;
    height: 38px;
    background: url(imgs/hole.png);
    pointer-events: none;
    transform: translate(28px);
}