body
{
    background: #333;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.container .box
{
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s;
}

.container .box::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: white;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
}



.container .box::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: white;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(30px);
}

.container .box:hover::after,
.container .box:hover::before
{
    transform: skewX(0deg);
    width: 90%;
    left: 5%;
}

.container .box:nth-child(1):after,
.container .box:nth-child(1):before
{
    background: var(--bgaver315);
}

.container .box:nth-child(2):after,
.container .box:nth-child(2):before
{
    background: var(--bgazulrosa);
}

.container .box:nth-child(3):after,
.container .box:nth-child(3):before
{
    background: var(--bgverdeazul);
}

.container .box span
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;
}

.container .box span::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    transition: 0.5s;
    z-index: -1;
    opacity: 0;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.container .box:hover span::before
{
    opacity: 1;
    top: -75px;
    left: 50px;
    width: 100px;
    height: 100px;
}

.container .box span::after
{
    content: '';
    position: absolute;
    bottom: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    transition: 0.5s;
    z-index: -1;
    opacity: 0;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    animation-delay: -1s;
}

.container .box:hover span::after
{
    opacity: 1;
    bottom: -75px;
    right: 50px;
    width: 100px;
    height: 100px;
}

@keyframes animate
{
    0%
    {
        transform: translateY(10px);
    }
    50%
    {
        transform: translateY(-10px);
    }
    100%
    {
        transform: translateY(10px);
    }
}

.container .box .content
{
    z-index: 1;
    position: relative;
    left: 0;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    transition: 0.5s;
    color: white;
    text-align: justify;
}

.container .box:hover .content
{
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.container .box .content h2
{
    position: relative;
    font-size: 2em;
    margin-bottom: 10px;
}

.container .box .content p
{
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
}

.container .box .content a
{
    position: relative;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 700;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    overflow: hidden;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    filter: hue-rotate(180deg);
}

.container .box:nth-child(1) .content a
{
    background: var(--bgaver315);
    
}
.container .box:nth-child(2) .content a
{
    background: var(--bgazulrosa);
}
.container .box:nth-child(3) .content a
{
    background: var(--bgverdeazul);
    filter: hue-rotate(180deg) saturate(0.8);
}