@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 1000px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 0 100px;
    background-color: lightgray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 1s;
}
header.sticky{
    height: 80px;
}
header img.banner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}
header.sticky img.banner{
    opacity: 0.5;
}
header a.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15vw;
    color: black;
    font-weight: 700;
    transition: 1s;
    text-decoration: none;
    z-index: 1;
}
header.sticky a.logo{
    position: absolute;
    font-size: 2em;
    left: 100px;
    transform: translate(0, -50%);

}
nav{
    position: relative;
    display: flex;
    z-index: 1;
}
nav ul{
    position: relative;
    display: flex;
    transition: 0.25s;
    transform: translateX(100px);
    opacity: 0;
}
header.sticky nav ul{
    transform: translateX(0);
    opacity: 1;
    transition-delay: 0.75s;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color: black;
    display: inline-block;
    padding: 10px 15px;
    font-size: 1.2em;
    text-decoration: none;
}
nav ul li a:hover{
    color: rgb(0, 173, 173);
}
main{
    margin-top: 50vh;
    padding: 100px;
}
main h2{
    font-size: 3em;
}
main p{
    font-size: 1.25em;
}
/*Now making it responsive*/
@media (max-width: 991px){
    section, header{
        padding: 40px;
    }
    section h2{
        font-size: 2em;
    }
    header.sticky a.logo{
        left: 40px;
    }
    header.sticky img.banner{
        opacity: 0;
    }
    nav ul{
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    header.sticky .toggle{
        position: fixed;
        top: 15px;
        right: 40px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        background-color: white;
        background-image: url(menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .toggle.active{
        background-image: url(close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    nav.active ul{
        position: fixed;
        top: 80px;
        left: 0;
        width: 100%;
        height: calc(100% - 80px);
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }
    header.sticky nav ul{
        visibility: visible;
        opacity: 1;
    }
    nav.active ul li a{
        color: white;
        font-size: 2em;
    }
    nav.active ul li a:hover{
        color: rgb(0, 173, 173);
    }
}